.ZStack {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
}

.ZStack[data-alignment="topLeading"] {
  justify-content: flex-start;
  align-items: flex-start;
}

.ZStack[data-alignment="top"] {
  justify-content: flex-start;
  align-items: center;
}

.ZStack[data-alignment="topTrailing"] {
  justify-content: flex-start;
  align-items: flex-end;
}

.ZStack[data-alignment="leading"] {
  justify-content: center;
  align-items: flex-start;
}

.ZStack[data-alignment="center"] {
  justify-content: center;
  align-items: center;
}

.ZStack[data-alignment="trailing"] {
  justify-content: center;
  align-items: flex-end;
}

.ZStack[data-alignment="bottomLeading"] {
  justify-content: flex-end;
  align-items: flex-start;
}

.ZStack[data-alignment="bottom"] {
  justify-content: flex-end;
  align-items: center;
}

.ZStack[data-alignment="bottomTrailing"] {
  justify-content: flex-end;
  align-items: flex-end;
}