.ColorPicker {
  display: flex;
  align-items: center;
  gap: 8px;
}

.ColorPicker-label {
  font-size: 16px;
  color: #333;
}

.ColorPicker-input {
  width: 50px; /* Примерная ширина */
  height: 30px; /* Примерная высота */
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 0;
  cursor: pointer;
}