.Section {
  padding: var(--swiftui-section-block-padding) var(--swiftui-section-inline-padding);
}

.Section__header {
  padding: var(--swiftui-cell-block-padding) var(--swiftui-cell-inline-padding);

  --swiftui-font-size: var(--swiftui-subtitle-font-size);
  --swiftui-text-color: var(--swiftui-subtitle-text-color);
}

.Section__footer {
  padding: var(--swiftui-cell-block-padding) var(--swiftui-cell-inline-padding);

  --swiftui-font-size: var(--swiftui-subtitle-font-size);
  --swiftui-text-color: var(--swiftui-subtitle-text-color);
}

.Section__content {
  border-radius: var(--swiftui-radius);
  padding: var(--swiftui-cell-block-padding) var(--swiftui-cell-inline-padding);
  overflow: hidden;
  position: relative;
  isolation: isolate;
}

.Section__content>* {
  --swiftui-cell-separator-height: 1px;
}

.Section__content> :last-child {
  --swiftui-cell-separator-height: 0;
}

.Section__content::before {
  background-color: var(--swiftui-section-bg-color);
  border-radius: inherit;
  content: "";
  inset: 0;
  position: absolute;
  will-change: transform;
  z-index: -1;
}