:root {
  --min-viewport-height: min(100vh, var(--swiftui-viewport-height));
  --viewport-safe-area-inset-bottom: calc(100vh - var(--min-viewport-height, 100vh) + var(--swiftui-safe-area-inset-bottom, 0px));
  --content-safe-area-inset-bottom: calc(var(--viewport-safe-area-inset-bottom, 0px) + var(--tabbar-current-height, 0px));
  --content-safe-area: calc(100vh - var(--content-safe-area-inset-bottom, 0px));
}

:root {
  --swiftui-bg-color: rgb(255, 255, 255);
  --swiftui-secondary-bg-color: rgb(242, 242, 247);

  --swiftui-section-bg-color: rgb(255, 255, 255);
  --swiftui-section-header-text-color: #6d6d72;
  --swiftui-section-separator-color: rgb(198, 198, 200);

  --swiftui-text-color: rgb(0, 0, 0);
  --swiftui-subtitle-text-color: rgb(133, 133, 139);
  --swiftui-accent-text-color: #007aff;

  --swiftui-green-color: rgb(52, 199, 89);
}

@media (prefers-color-scheme: dark) {
  :root {
    --swiftui-bg-color: rgb(28, 28, 30);
    --swiftui-secondary-bg-color: rgb(0, 0, 0);

    --swiftui-section-bg-color: rgb(28, 28, 30);
    --swiftui-section-header-text-color: #6d6d72;
    --swiftui-section-separator-color: rgb(49, 49, 51);

    --swiftui-text-color: rgb(255, 255, 255);
    --swiftui-subtitle-text-color: rgb(141, 141, 147);
    --swiftui-accent-text-color: #007aff;

    --swiftui-green-color: rgb(52, 199, 89);
  }
}

:root[data-swiftui-ios^="1"]:not([data-swiftui-ios^="19"]):not([data-swiftui-ios^="20"]) {
  --swiftui-list-top-padding: 11.5pt;
  --swiftui-list-gap: 13pt;

  --swiftui-section-inline-padding: 12pt;

  --swiftui-section-header-bottom-padding: 5pt;
  --swiftui-section-header-inline-padding: 11pt;

  --swiftui-section-footer-top-padding: 2pt;
  --swiftui-section-footer-inline-padding: 12pt;

  --swiftui-cell-block-padding: 10.1pt;
  --swiftui-cell-inline-padding: 12pt;
  --swiftui-cell-min-height: 32.5pt;

  --swiftui-stack-gap-block: 2pt;
  --swiftui-stack-gap-inline: 6pt;

  --swiftui-radius: 8pt;

  --swiftui-font-size: 13pt;
  --swiftui-font-height: 13pt;
  --swiftui-font-letter-spacing: 0.03em;
  --swiftui-subtitle-font-size: 10pt;
  --swiftui-subtitle-font-height: 10pt;
  --swiftui-subtitle-font-letter-spacing: 0.04em;
}

:root {
  --swiftui-double-gap: calc(var(--swiftui-gap) * 2);
}

html.swiftui body {
  background: var(--swiftui-secondary-bg-color);
  color: var(--swiftui-text-color);
  font-size: var(--swiftui-font-size);
  line-height: var(--swiftui-font-height);
  letter-spacing: var(--swiftui-font-letter-spacing);
  font-family: 'SF Pro Display', 'SF Pro Text', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-x: none;
}

html.swiftui::-webkit-scrollbar,
html.swiftui body::-webkit-scrollbar {
  display: none;
}

html.swiftui.tabbarScrollLayout,
html.swiftui.tabbarScrollLayout body {
  height: 100vh;
  overflow: hidden;
  overflow: clip;
  touch-action: none;
}

html.swiftui.tabbarScrollLayout body {
  inset: 0;
  position: fixed;
  transform: translateZ(0);
}

html.swiftui.tabbarScrollLayout #root {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden auto;
  overflow: clip auto;
  overscroll-behavior-x: none;
  position: relative;
  scrollbar-width: none;
  width: 100%;
  -ms-overflow-style: none;
}

html.swiftui.tabbarScrollLayout #root::-webkit-scrollbar {
  display: none;
}

html.swiftui.tabbarScrollLayout.isScrolled body:after {
  background: var(--separator-non-opaque-color);
  content: "";
  height: 1px;
  inset-inline-start: 0;
  position: absolute;
  top: 0;
  transform-origin: bottom left;
  transform-origin: top left;
  width: 100%;
  will-change: transform;
}

@media (-webkit-min-device-pixel-ratio: 2),
(min-resolution: 2dppx) {
  html.swiftui.tabbarScrollLayout.isScrolled body:after {
    transform: scaleY(.5)
  }
}

@media (-webkit-min-device-pixel-ratio: 3),
(min-resolution: 3dppx) {
  html.swiftui.tabbarScrollLayout.isScrolled body:after {
    transform: scaleY(.33)
  }
}

html.swiftui.noScroll,
html.swiftui.noScroll #root,
html.swiftui.noScroll body {
  height: 100vh;
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: none;
}

html.swiftui * {
  -webkit-touch-callout: none;
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  user-select: none;
}

html.swiftui a {
  color: var(--color-link);
  -webkit-text-decoration: none;
  text-decoration: none;
}

html.swiftui svg {
  display: block;
}

html.swiftui [contenteditable],
html.swiftui input,
html.swiftui textarea {
  caret-color: var(--tg-theme-accent-text-color);
  -webkit-user-select: initial;
  user-select: auto;
}

html.swiftui h1,
html.swiftui h2,
html.swiftui h3,
html.swiftui h4,
html.swiftui h5,
html.swiftui h6,
html.swiftui p {
  margin: 0;
  padding: 0;
}

.scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}