:root {
  --tabbar-height: 88px;
  --tabbar-current-height: var(--tabbar-height);
  --tabbar-z-index: 1000;
  --has-tabbar: 1;
  --dpr: 2; /* todo: add from view script: const dpr = window.devicePixelRatio; */

  --swiftui-safe-area-inset-top: env(safe-area-inset-top, 0px);
  --swiftui-safe-area-inset-bottom: env(safe-area-inset-bottom, 0px);
  --swiftui-safe-area-inset-left: env(safe-area-inset-left, 0px);
  --swiftui-safe-area-inset-right: env(safe-area-inset-right, 0px);

  /* actual viewport height can be changed */
  --swiftui-viewport-height: 100vh;
  --min-viewport-height: min(100vh, var(--swiftui-viewport-height));

  /* calc(max-vh - min-vh + safe-area-inset-bottom) */
  --viewport-safe-area-inset-bottom: calc(100vh - var(--min-viewport-height, 100vh) + var(--swiftui-safe-area-inset-bottom, 0px));
  
  /* vp-bottom + tabbar-height */
  --content-safe-area-inset-bottom: calc(var(--viewport-safe-area-inset-bottom, 0px) + var(--tabbar-current-height, 0px));
  --content-safe-area: calc(100vh - var(--content-safe-area-inset-bottom, 0px));
}

:root {
  --swiftui-bg-color: rgb(255, 255, 255);
  --swiftui-secondary-bg-color: rgb(242, 242, 247);

  --swiftui-section-bg-color: rgb(255, 255, 255);
  --swiftui-section-header-text-color: #6d6d72;
  --swiftui-section-separator-color: rgb(198, 198, 200);

  --swiftui-text-color: rgb(0, 0, 0);
  --swiftui-subtitle-text-color: rgb(133, 133, 139);
  --swiftui-accent-text-color: #007aff;

  --swiftui-green-color: rgb(52, 199, 89);
  --swiftui-gray-color: rgb(233, 233, 235);
}

@media (prefers-color-scheme: dark) {
  :root {
    --swiftui-bg-color: rgb(28, 28, 30);
    --swiftui-secondary-bg-color: rgb(0, 0, 0);

    --swiftui-section-bg-color: rgb(28, 28, 30);
    --swiftui-section-header-text-color: #6d6d72;
    --swiftui-section-separator-color: rgb(62, 62, 65);

    --swiftui-text-color: rgb(255, 255, 255);
    --swiftui-subtitle-text-color: rgb(141, 141, 147);
    --swiftui-accent-text-color: #007aff;

    --swiftui-green-color: rgb(52, 199, 89);
    --swiftui-gray-color: rgb(57, 57, 61);
  }
}

:root[data-swiftui-ios^="1"]:not([data-swiftui-ios^="19"]):not([data-swiftui-ios^="20"]) {
  --swiftui-list-top-padding: 11.5pt;
  --swiftui-list-gap: 20pt;

  --swiftui-section-inline-padding: 12pt;

  --swiftui-section-header-bottom-padding: 4pt;
  --swiftui-section-header-inline-padding: 12pt;

  --swiftui-section-footer-top-padding: 3.5pt;
  --swiftui-section-footer-inline-padding: 12pt;

  --swiftui-cell-text-block-padding: 9.5pt;

  --swiftui-cell-block-padding: 2.5pt;
  --swiftui-cell-inline-padding: 12pt;
  --swiftui-cell-min-height: 32.7pt;

  --swiftui-cell-image-left-padding: 13.5pt;
  --swiftui-cell-image-right-padding: 7pt;

  --swiftui-stack-gap-block: 2pt;
  --swiftui-stack-gap-inline: 6pt;

  --swiftui-radius: 8pt;

  --swiftui-font-size: 13pt;
  --swiftui-font-height: 14.2pt;
  --swiftui-font-letter-spacing: 0.03em;
  --swiftui-subtitle-font-size: 10pt;
  --swiftui-subtitle-font-height: 9pt;
  --swiftui-subtitle-font-letter-spacing: 0.04em;
}

:root {
  --swiftui-double-gap: calc(var(--swiftui-gap) * 2);
}

html.swiftui {
  height: 100%;
}

html.swiftui body {
  background: var(--swiftui-secondary-bg-color);
  color: var(--swiftui-text-color);
  min-height: 100%;
  font-size: var(--swiftui-font-size);
  line-height: var(--swiftui-font-height);
  letter-spacing: var(--swiftui-font-letter-spacing);
  font-family: 'SF Pro Display', 'SF Pro Text', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0;
  -ms-overflow-style: none;
  scrollbar-width: none;
  -webkit-font-smoothing: antialiased;
  overscroll-behavior-x: none;
}

html.swiftui::-webkit-scrollbar,
html.swiftui body::-webkit-scrollbar {
  display: none;
}

html.swiftui.tabbarScrollLayout,
html.swiftui.tabbarScrollLayout body {
  height: 100vh;
  overflow: hidden;
  overflow: clip;
  touch-action: none;
}

html.swiftui.tabbarScrollLayout body {
  inset: 0;
  position: fixed;
  transform: translateZ(0);
}

html.swiftui.tabbarScrollLayout #root {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden auto;
  overflow: clip auto;
  overscroll-behavior-x: none;
  position: relative;
  scrollbar-width: none;
  width: 100%;
  -ms-overflow-style: none;
}

html.swiftui.tabbarScrollLayout #root::-webkit-scrollbar {
  display: none;
}

html.swiftui.tabbarScrollLayout.isScrolled {
  -webkit-locale: "en";
  direction: ltr;
  unicode-bidi: isolate;
}

html.swiftui.tabbarScrollLayout.isScrolled body:after {
  background: var(--separator-non-opaque-color);
  content: "";
  height: 1px;
  inset-inline-start: 0;
  position: absolute;
  top: 0;
  transform: scaleY(calc(1 / var(--dpr, 1)));
  transform-origin: bottom left;
  transform-origin: top left;
  width: 100%;
}

html.swiftui.noScroll,
html.swiftui.noScroll #root,
html.swiftui.noScroll body {
  height: 100vh;
  overflow: hidden;
  overscroll-behavior: none;
  touch-action: none;
}

html.swiftui #appView {
  flex: 1 0 var(--content-safe-area, 0px);
  width: 100%;
}

html.swiftui #appView .content {
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  min-height: 100%;
  opacity: 0;
  overflow: hidden;
  overflow: clip;
  position: relative;
  transform: scale(1.02);
  transform-origin: 50% var(--swiftui-viewport-height);
  will-change: transform;
}

html.swiftui #appView .content.show {
  opacity: 1;
  overflow: initial;
  transform: none;
  will-change: auto;
}

html.swiftui #appView .content .container {
  align-items: stretch;
  background-color: var(--tg-theme-secondary-bg-color);
  display: flex;
  flex-direction: column;
  min-height: var(--content-safe-area, 100vh);
}

html.swiftui .tabBarSpacing {
  box-sizing: initial;
  flex: 0 0 var(--tabbar-current-height,0px);
  padding-bottom: calc(var(--viewport-safe-area-inset-bottom, 0) * (1 - var(--has-tabbar, 0)));
  width: 100%;
}

html.swiftui.noScroll .tabBarSpacing {
  padding-bottom: calc(var(--viewport-safe-area-inset-bottom, 0) * (1 - var(--has-tabbar, 0)));
}

html.swiftui * {
  box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-user-select: none;
  -webkit-touch-callout: none;
  user-select: none;
}

html.swiftui button {
  background: #0000;
  border: none;
  cursor: pointer;
  margin: 0;
  outline: none;
  padding: 0;
}

html.swiftui button:disabled {
    cursor: not-allowed;
}

html.swiftui a {
  color: var(--color-link);
  -webkit-text-decoration: none;
  text-decoration: none;
}

html.swiftui svg {
  display: block;
}

html.swiftui [contenteditable],
html.swiftui input,
html.swiftui textarea {
  caret-color: var(--tg-theme-accent-text-color);
  -webkit-user-select: initial;
  user-select: auto;
}

html.swiftui h1,
html.swiftui h2,
html.swiftui h3,
html.swiftui h4,
html.swiftui h5,
html.swiftui h6,
html.swiftui p {
  margin: 0;
  padding: 0;
}

html.swiftui.scrollbar-hidden {
  &::-webkit-scrollbar {
    display: none;
  }
}

.tabBar {
  bottom: 0;
  inset-inline: 0;
  position: fixed;
  will-change: transform;
  z-index: var(--tabbar-z-index);
}

.tabBar .content {
  box-sizing: initial;
  padding-bottom: calc(var(--tg-safe-area-inset-bottom, var(--viewport-safe-area-inset-bottom)) + var(--testnet-warning-height, 0px));
  transition: background-color .2s ease;
}

.tabBar .content .padding {
  height: var(--tabbar-height);
  padding-bottom: var(--tabbar-bottom-offset-with-testnet, 0);
}

.tabBat .content .container {
  height: 100%;
  position: relative;
  will-change: auto;
}