.ProgressView {
  width: 100%;
  height: 8px; /* Высота индикатора прогресса */
  -webkit-appearance: none; /* Для кастомизации в WebKit браузерах */
  appearance: none;
  border: none;
  border-radius: 4px;
  background-color: #e0e0e0; /* Цвет фона */
}

.ProgressView::-webkit-progress-bar {
  background-color: #e0e0e0;
  border-radius: 4px;
}

.ProgressView::-webkit-progress-value {
  background-color: #007bff; /* Цвет заполнения */
  border-radius: 4px;
}

.ProgressView::-moz-progress-bar {
  background-color: #007bff; /* Цвет заполнения для Firefox */
  border-radius: 4px;
}